:root {
  --dark: #18230F;
  --med : #27391C;
  --med-light: #255F38;
  --light: #1F7D53;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: var(--dark);
}
.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  border: 2px solid var(--med);
}
.square {
  border: 2px solid var(--med);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  transition: background-color 0.5s ease;
  font-family: "fira-code", monospace;
  background-color: var(--dark);
  color: var(--light);
}
.square:hover {
  background-color: rgba(31, 125, 83, 0.06);
}
.square.circle {
  color: var(--light);
}
.square .cross {
  color: var(--med-light);
}
h3 {
  color: var(--dark);
  font-family: "fira-code", monospace;
  font-size: 22px;
  margin-Top: 40px;
  font-weight: bold;
  background-color: var(--light);
  padding: 10px 20px ;
}
